$mianColor:#73EA8A;
$subColor: #7DC4D9;
$mainTitleColor: #73EA8A;
$mainTextColor:rgb(221, 221, 221);
$subTextColor: rgb(255, 250, 233);
$darkTextColor: #383838;
$grayTextColor: #9c9c9c;
$darkBackgroundColor: #353535;
$lightGradientBackgroundColor: linear-gradient(#FFF6DC, #dfeee5);
$breakPointCompact: "only screen and (max-width : 576px)";
$breakPointNormal: "only screen and (min-width : 576px)";
$defaultButtonMargin: 80px;